@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

.btn, .swap-rotate {
  @apply rounded-md;
}

.endpoint-category, .input, .mockup-browser, .mockup-browser-toolbar {
  @apply border-primary;
}

p, code {
  @apply font-light;
}

p {
  @apply text-xl;
}

code {
  @apply text-base;
}

::selection {
  @apply bg-primary text-black;
}

.mockup-browser-home {
  @media screen and (min-width: 1150px) { 
    min-width: 680px;
  }
}

.card-actions {
  .btn {
    @media screen and (min-width: 640px) and (max-width: 794px) {
        min-width: 100%;
    }
    
    @media screen and (max-width: 401px) {
        min-width: 100%;
    }
  }
}