@tailwind base;
@tailwind components;
@tailwind utilities;

$selection-bg: #b1b1b1;
$selection-colour: rgb(24, 24, 24);

html {
  @apply scroll-smooth;
}

body {
  @apply select-none;
}

.mockup-browser, .mockup-code {
  @apply select-text;
}

.btn, .swap-rotate {
  @apply rounded-md;
}

.endpoint-category, .input, .mockup-browser, .mockup-browser-toolbar {
  @apply border-primary;
}

p, code {
  @apply font-light;
}

p {
  @apply text-xl;
}

code {
  @apply text-base;
}

.mockup-browser-home {
  @media screen and (min-width: 1150px) { 
    min-width: 680px;
  }
}

.mockup-code {
  @apply min-w-full md:min-w-full lg:min-w-fit;
  @media screen and (max-width: 1121px) {
    @apply min-w-full;
  }
}

.card-actions {
  .btn {
    @media screen and (min-width: 640px) and (max-width: 794px) {
        @apply min-w-full;
      }
      
    @media screen and (max-width: 401px) {
        @apply min-w-full;
    }
  }
}

.docs-main {
  @media screen and (min-width: 640px) and (max-width: 1113px) {
      @apply overflow-hidden;
  }
}

.text-and-shadow-gradience {
  @apply bg-gradient-to-r from-primary via-[#dd9f33] to-primary;
}

.docs-strong-note {
  @apply font-medium underline;
}

::-moz-selection { 
  color: $selection-colour;
  background: $selection-bg;
}
::selection {
  color: $selection-colour;
  background: $selection-bg;
}